# Secrets / Environment
.env 

# Python 
__pycache__/
.pytest_cache/
task7_output.png
*.pyc 
.coverage

# Django
db.sqlite3
*.log

# Django static collection
staticfiles/

# Coverage
.Coverage
htmlcov/
   

# Virtual environments
venv/
*venv/
*/venv/
hw1_venv/
hw2_venv/